a{
	text-decoration:none;
}

ol,ul{
 	list-style:none;
}

.sep-line{
	position:relative;
	top:60px;
	height:2px;
	background-color:#3366cc;
	color:#3366cc;
}

#top-nav{
	position:absolute;
	left:5%;
	top:15px;
	width:80%;
	height:50px;
	//background-color:#FFAA47;
}

#top-nav a{
	color:red;
}

#top-nav a:hover{
	color:#00ff55;
}

#top-nav li{
	display:inline;
	font-size:18px;
	margin:3px;
	//background:#234782;
}

#top-nav ul{
	display:inline;
	position:relative;
	left:10%;
	top:15%;
}